<a href="https://colab.research.google.com/github/kunal24bit/Python-Assignments/blob/main/Q_A_Assignment_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.**


&#39;hello&#39;- Value

-87.8- Value

--  Expression

/  Expression

++  Expression

6 Value

**2. What is the difference between string and variable?**

A string in Python is a sequence of characters. It is a derived data type. Strings are immutable. This means that once defined, they cannot be changed. Many Python methods, such as replace() , join() , or split() modify strings

A Python variable is a reserved memory location to store values. In other words, a variable in a python program gives data to the computer for processing.

**3. Describe three different data types.**

<ul type="disc">
  <li> Int: Used for whole numbers. </li>
  <li> str: Used for string variable. </li>
  <li> float: Used for real numbers </li>
  <li> bool: Used for boolean datatype </li>
</ul>

In [1]:
a =10
type(a)

int

In [2]:
b = 10.10010101

In [3]:
type(b)

float

In [4]:
c = "hey you"

In [6]:
type(c)

str

In [7]:
d = True
type(d)

bool

**4. What is an expression made up of? What do all expressions do?**

*Python expressions only contain identifiers, literals, and operators. So, what are these?*

**Identifiers**: Any name that is used to define a class, function, variable module, or object is an identifier. 

**Literals**: These are language-independent terms in Python and should exist independently in any programming language. In Python, there are the string literals, byte literals, integer literals, floating point literals, and imaginary literals.

**Operators**: In Python you can implement the following operations using the corresponding tokens.
 +, -, %, /, //, *. **. @, >,  =, >=, <= etc.

**6. After running the following code, what does the variable bacon contain?**

bacon = 22

bacon+1

Ans- running this code will feed bacon 23.

In [8]:
bacon = 22
bacon+1

23

**7. What should the values of the following two terms be?**

&#39;spam&#39; + &#39;spamspam&#39;

&#39;spam&#39; * 3

In [9]:
"spam"+"spamspam"

'spamspamspam'

In [10]:
"spam"*3

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

As the variable name always starts with a string or combination of first string then number but cannot start with a number or we can use underscore to define the variable.

In [11]:
_= 23

In [12]:
_

23

**9. What three functions can be used to get the integer, floating-point number, or string
version of a value?**

<ul type = "disc">
  <li> int() </li>
  <li> str() </li>
  <li> float() </li>
</ul>

**10. Why does this expression cause an error? How can you fix it?**

&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

As 99 is int type. so enclosed it inside the double quotes.

Or we can also use str().

In [20]:
"I have eaten"+" 99 "+"burritos"

'I have eaten 99 burritos'

In [23]:
"I have eaten "+ str(99) +" burritos"

'I have eaten 99 burritos'